<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgl.practice.payment.dao.PaymentDao">
    <resultMap id="paymentMap" type="com.lgl.practice.payment.entity.Payment">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
        <result property="paymentAmount" column="payment_amount" jdbcType="DECIMAL"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通过订单号获取数据 -->
    <select id="getByOrderNum" parameterType="string" resultMap="paymentMap">
        SELECT id, order_num, payment_amount, create_time, update_time
        FROM tb_payment
        <where>
            <if test="orderNum != null">
                order_num = #{orderNum}
            </if>
        </where>
    </select>

    <!-- 通过主键ID获取数据 -->
    <select id="getById" parameterType="long" resultMap="paymentMap">
        SELECT id, order_num, payment_amount, create_time, update_time
        FROM tb_payment
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

    <!-- 新增 -->
    <insert id="add" parameterType="com.lgl.practice.payment.entity.Payment">
        INSERT INTO tb_payment (
        order_num,
        payment_amount,
        create_time,
        update_time
        )
        VALUES (
        #{payment.orderNum},
        #{payment.paymentAmount},
        #{payment.createTime},
        #{payment.updateTime}
        )
    </insert>

    <!-- 通过订单号删除数据 -->
    <delete id="deleteByOrderNum" parameterType="string">
        DELETE FROM tb_payment
        <where>
            <if test="orderNum != null">
                order_num = #{orderNum}
            </if>
        </where>
    </delete>

    <!-- 通过主键ID删除数据 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM tb_payment
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </delete>
</mapper>
